

#bigram-iframe{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#iframe-section>.container.box {
	overflow: hidden;
	height: 50vh;
	display: flex;
	/* flex-direction: column; */
	justify-content: stretch;
	align-items: stretch;
}

#iframe-sidebar{
display: flex;
justify-content: space-between;
flex-direction: column;
}

#close-fullscreen{
	position: fixed;
	bottom: 15px;
	left: 10px;

	z-index: 20;
}

#go-fullscreen{
		width: min-content;
	}